<%= form_for(@temperature) do |f| %>
  <% if @temperature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@temperature.errors.count, "error") %> prohibited this temperature from being saved:</h2>

      <ul>
      <% @temperature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :checking %><br />
    <%= f.datetime_select :checking %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
