<p id="notice"><%= notice %></p>

<p>
  <b>Checking:</b>
  <%= @temperature.checking %>
</p>

<p>
  <b>Value:</b>
  <%= @temperature.value %>
</p>


<%= link_to 'Edit', edit_temperature_path(@temperature) %> |
<%= link_to 'Back', temperatures_path %>
