<div class="page-header">
  <h1>Dispositivo</h1>
</div>

<div class="row">

  <div class="span14">
    <table class="zebra-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Descri&ccedil;&atilde;o</th>
          <th>Alerta</th>
          <th>A&ccedil;&otilde;es</th>
        </tr>
      </thead>
      <% @sensors.each do |s| %>
        <tr>
        <td><%= s.id %></td>
        <td><%= s.description %></td>
        <td><%= s.alert %></td>
        <td>
          <%= link_to "R", sensor_path(s), :method => :delete, :confirm => "Está certo disto?", :class => "btn danger" %>
          <%= link_to "E", edit_sensor_path(s), :class => "btn success" %>
        </td>
      </tr>
    <% end %>
    </table>

    <div class="actions">
      <%= link_to "Novo Dispositivo", new_sensor_path, :class => "btn primary" %>
    </div>

  </div>

</div>
